.movies {
  display: flex;
  flex-direction: column;
}

.movies__user-notification {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  margin: 0 30px;
  padding: 0;
}

@media screen and (max-width: 480px) {
  .movies__user-notification {
    font-size: 14px;
    line-height: 18px;
  }
}