.profile-form {
  display: flex;
  flex-direction: column;
  margin: 70px auto;
  width: 410px;
  border: none;
}

@media screen and (max-width: 768px) {
  .profile-form {
    margin-top: 194px;
  }
}

@media screen and (max-width: 320px) {
  .profile-form {
    width: 260px;
    margin: 28px 30px 100px;
  }
}

.profile-form__greeting {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  margin: 4px auto 123px;
}

@media screen and (max-width: 768px) {
  .profile-form__greeting {
    margin: 42px auto 96px;
  }
}

@media screen and (max-width: 320px) {
  .profile-form__greeting {
    margin: 42px auto 80px;
  }
}

.profile-form__input-container {
  display: flex;
  flex-direction: column;
  margin: 0 0 208px;
  padding: 0;
  border: none;
}

@media screen and (max-width: 768px) {
  .profile-form__input-container {
    margin: 0 0 198px;
  }
}

@media screen and (max-width: 320px) {
  .profile-form__input-container {
    margin: 0 0 366px;
  }
}

.profile-form__input {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.profile-form__back-line {
  border-bottom: 1px solid #e8e8e8;
  margin: 16px 0;
}

.profile-form__input-name {
  font-weight: 500;
  font-size: 11px;
  line-height: 14px;
  margin: 0;
  padding: 0;
}

.profile-form__input-value {
  font-weight: 400;
  font-size: 11px;
  line-height: 14px;
  margin: 0;
  padding: 0;
  text-align: end;
  border: none;
}

.profile-form__button {
  border: none;
  background-color: transparent;
  max-width: -moz-fit-content;
  max-width: fit-content;
  font-weight: 400;
  font-size: 13px;
  line-height: 15.7px;
  margin-top: 15px;
  padding: 0;
  text-align: center;
  align-self: center;
  cursor: pointer;
  transition: opacity 0.6s;
}

.profile-form__button:hover {
  opacity: 0.7;
}

.profile-form__button:last-child {
  color: #ff4062;
}

@media screen and (max-width: 320px) {
  .profile-form__button {
    font-size: 12px;
    line-height: 14.5px;
  }
}
